# See https://dart.dev/guides/libraries/private-files

.dart_tool/
.buildlog
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
build/
**/packages/
*.iml
*.ipr
*.iws
.idea/
.vscode/
.DS_Store
*.dart.js
*.part.js
*.js.deps
*.js.map
doc/api/
pubspec.lock
_gen/
coverage/
*.log
